In [1]:
import sys
# sys.path is a list of absolute path strings
sys.path.append('/mnt/sda/boris_stanoev/PropStar/')

In [2]:
from normalization.normalize import Normalize
from sklearn.datasets import fetch_openml

In [3]:
data = fetch_openml(data_id='44529')
denormalized_table = data.data.join(data.target)

/mnt/sda/boris_stanoev/PropStar/venv/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [16]:
denormalized_table

     Airline  Flight AirportFrom AirportTo DayOfWeek    Time  Length Delay
0         AA  1344.0         SAT       DFW         7   705.0    70.0     0
1         OO  4634.0         LGB       SLC         1   605.0   117.0     0
2         CO  1704.0         IAH       OKC         7  1265.0    83.0     0
3         OO  7755.0         SLC       CDC         3   459.0    72.0     0
4         XE  2300.0         TUL       IAH         5  1002.0    97.0     0
...      ...     ...         ...       ...       ...     ...     ...   ...
1995      WN  1265.0         MDW       BOS         4   515.0   135.0     1
1996      WN   418.0         RNO       PDX         2   585.0    95.0     1
1997      WN   717.0         HOU       MDW         2  1245.0   145.0     1
1998      US  1021.0         LGA       CLT         1   495.0   127.0     0
1999      DL  2535.0         LGA       MSY         7   775.0   211.0     0

[2000 rows x 8 columns]

In [17]:
denormalized_table.groupby(['Delay'])['Delay'].count()

Delay
0    1109
1     891
Name: Delay, dtype: int64