In [1]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
import numpy as np

# Generating a dummy imbalanced dataset
X, y = make_classification(n_classes=2, class_sep=2,
                           weights=[0.1, 0.9], n_informative=3, n_redundant=1, flip_y=0,
                           n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=10)

# Splitting dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Applying SMOTE to balance the dataset
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X_train, y_train)

# Checking the class distribution after resampling
print(f"Original dataset shape {np.bincount(y_train)}")
print(f"Resampled dataset shape {np.bincount(y_res)}")

Original dataset shape [ 74 676]
Resampled dataset shape [676 676]

In [2]:
import sys
import pandas as pd
# sys.path is a list of absolute path strings
sys.path.append('C:\Projects\Private\PropStar')
from normalization.normalize import Normalize

In [3]:
data = pd.read_csv('datasets/accelerometer_gyro_mobile_phone_dataset.csv')
data = data[~data['timestamp'].str.contains("6/25/2022")]

In [4]:
data

,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Activity
0,-0.496517,3.785628,8.954828,-0.142849,-0.126159,-0.022539,34:22.9,1
1,-0.462388,3.869603,9.281898,0.084349,0.096695,0.092130,34:23.0,1
2,-0.296084,3.820505,8.930728,0.061763,0.051543,0.071287,34:23.1,1
3,-0.469723,3.890110,8.744067,0.007641,0.028679,0.109433,34:23.2,1
4,-0.472418,4.109105,8.941207,-0.123640,0.099057,0.051943,34:23.3,1
...,...,...,...,...,...,...,...,...
31986,-0.488734,1.610800,10.610386,0.079187,-0.174218,-0.050365,03:15.1,1
31987,-0.049397,2.769092,7.008276,-0.083853,0.007656,-0.045658,03:15.2,1
31988,0.291294,3.002007,6.732400,0.005984,-0.058994,-0.087044,03:15.3,1
31989,0.256267,4.069138,8.687933,0.061487,-0.016278,-0.088728,03:15.4,1
31990,0.646356,5.273683,10.216704,-0.142294,-0.000884,0.048970,03:15.5,1

In [5]:
data.groupby('Activity')['Activity'].count()

Activity
0      570
1    31420
Name: Activity, dtype: int64

In [6]:
# data['Activity'] = data['Activity'].map({0:1, 1:0})

In [7]:
data[['accX', 'accY', 'accZ']].drop_duplicates().count()
data[['gyroX', 'gyroY', 'gyroZ']].drop_duplicates().count()

gyroX    31669
gyroY    31669
gyroZ    31669
dtype: int64

In [8]:
data['timestamp'] = '2024-01-01 00:' + data['timestamp'].str.replace(',', '.')

# Convert to datetime
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%Y-%m-%d %H:%M:%S.%f')

In [9]:
data

,accX,accY,accZ,gyroX,gyroY,gyroZ,timestamp,Activity
0,-0.496517,3.785628,8.954828,-0.142849,-0.126159,-0.022539,2024-01-01 00:34:22.900,1
1,-0.462388,3.869603,9.281898,0.084349,0.096695,0.092130,2024-01-01 00:34:23.000,1
2,-0.296084,3.820505,8.930728,0.061763,0.051543,0.071287,2024-01-01 00:34:23.100,1
3,-0.469723,3.890110,8.744067,0.007641,0.028679,0.109433,2024-01-01 00:34:23.200,1
4,-0.472418,4.109105,8.941207,-0.123640,0.099057,0.051943,2024-01-01 00:34:23.300,1
...,...,...,...,...,...,...,...,...
31986,-0.488734,1.610800,10.610386,0.079187,-0.174218,-0.050365,2024-01-01 00:03:15.100,1
31987,-0.049397,2.769092,7.008276,-0.083853,0.007656,-0.045658,2024-01-01 00:03:15.200,1
31988,0.291294,3.002007,6.732400,0.005984,-0.058994,-0.087044,2024-01-01 00:03:15.300,1
31989,0.256267,4.069138,8.687933,0.061487,-0.016278,-0.088728,2024-01-01 00:03:15.400,1
31990,0.646356,5.273683,10.216704,-0.142294,-0.000884,0.048970,2024-01-01 00:03:15.500,1

In [15]:
X = data.drop('Activity', axis=1).drop('timestamp', axis=1)
y = data['Activity']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [17]:
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X_train, y_train)

In [18]:
# Checking the class distribution after resampling
print(f"Original dataset shape {np.bincount(y_train)}")
print(f"Resampled dataset shape {np.bincount(y_res)}")

Original dataset shape [  434 23558]
Resampled dataset shape [23558 23558]

In [19]:
X_res

           accX      accY       accZ     gyroX     gyroY     gyroZ
0     -0.247286  3.205883   6.155949  0.015856 -0.007287 -0.125021
1     -0.089065 -1.190923  14.193185  0.018241  0.034030  0.020187
2     -0.592169  2.136956   9.031469 -0.058313 -0.310977 -0.253910
3      0.148791  2.597399   6.782845 -0.201169 -0.045469 -0.344495
4      0.604293  1.011447  13.199701 -0.109462  0.056597 -0.005012
...         ...       ...        ...       ...       ...       ...
47111 -0.597451  0.604292   9.870214  0.032538 -0.003340 -0.001413
47112 -0.558851  0.547425   9.830174 -0.417062  0.143292  0.342097
47113 -2.099857  0.620983   9.587599 -0.073259 -0.028413  0.013315
47114 -0.482171  1.799896   9.601266 -0.020307 -0.011759  0.027312
47115 -0.119740  0.282617  11.333749 -0.008478  0.001890  0.007429

[47116 rows x 6 columns]