In [1]:
import sys
# sys.path is a list of absolute path strings
sys.path.append('/mnt/sda/boris_stanoev/PropStar/')

In [2]:
from normalization.normalize import Normalize
from sklearn.datasets import fetch_openml

In [3]:
data = fetch_openml(name='telco-customer-churn')

/mnt/sda/boris_stanoev/PropStar/venv/lib/python3.10/site-packages/sklearn/datasets/_openml.py:303: UserWarning: Multiple active versions of the dataset matching the name telco-customer-churn exist. Versions may be fundamentally different, returning version 1.
  warn(
/mnt/sda/boris_stanoev/PropStar/venv/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [4]:
drop_indices = data.data[data.data['TotalCharges']== ' '].index
data.data.drop(labels=[*drop_indices], inplace=True)
data.target.drop(labels=[*drop_indices], inplace=True)

/tmp/ipykernel_558449/3570645737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.data.drop(labels=[*drop_indices], inplace=True)

In [5]:
denormalized_table = data.data.join(data.target)

- Customers who left within the last month – the column is called Churn
- 
Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movie
- 
Customer account informati:  – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charg
- s
Demographic info about custom:s – gender, age range, and if they have partners and dependents

In [6]:
denormalized_table.columns.values

array(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges',
       'TotalCharges', 'Churn'], dtype=object)

In [7]:
denormalized_table[['SeniorCitizen']].groupby(['SeniorCitizen'])['SeniorCitizen'].count()

SeniorCitizen
0    5890
1    1142
Name: SeniorCitizen, dtype: int64

In [8]:
all_columns = denormalized_table.columns.values
demographics_columns = ['gender', 'SeniorCitizen', 'Partner', 'Dependents']
customer_columns = ['Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges',
       'TotalCharges', 'tenure', 'Churn']
service_columns = ['PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies']

In [9]:
print(denormalized_table[[*demographics_columns]].count())
print(denormalized_table[[*demographics_columns]].drop_duplicates().count())

gender           7032
SeniorCitizen    7032
Partner          7032
Dependents       7032
dtype: int64
gender           16
SeniorCitizen    16
Partner          16
Dependents       16
dtype: int64

In [10]:
print(denormalized_table[[*customer_columns]].count())
print(denormalized_table[[*customer_columns]].drop_duplicates().count())

Contract            7032
PaperlessBilling    7032
PaymentMethod       7032
MonthlyCharges      7032
TotalCharges        7032
tenure              7032
Churn               7032
dtype: int64
Contract            6952
PaperlessBilling    6952
PaymentMethod       6952
MonthlyCharges      6952
TotalCharges        6952
tenure              6952
Churn               6952
dtype: int64

In [11]:
print(denormalized_table[[*service_columns]].count())
print(denormalized_table[[*service_columns]].drop_duplicates().count())

PhoneService        7032
MultipleLines       7032
InternetService     7032
OnlineSecurity      7032
OnlineBackup        7032
DeviceProtection    7032
TechSupport         7032
StreamingTV         7032
StreamingMovies     7032
dtype: int64
PhoneService        322
MultipleLines       322
InternetService     322
OnlineSecurity      322
OnlineBackup        322
DeviceProtection    322
TechSupport         322
StreamingTV         322
StreamingMovies     322
dtype: int64

In [12]:
norm = Normalize(denormalized_table=denormalized_table, denormalized_table_name="original_table")

In [13]:
norm.create_entity(source_entity_name="original_table", target_entity_name="customer", columns=all_columns,
                   distinct_values=True, retain_columns=['customer_id'])

norm.create_entity(source_entity_name="customer", target_entity_name="contract_type", columns=['Contract'],
                   distinct_values=True, retain_columns=['customer_id'])

norm.create_entity(source_entity_name="customer", target_entity_name="payment_method_type", columns=['PaymentMethod'],
                   distinct_values=True, retain_columns=['customer_id'])

In [14]:
norm.create_entity(source_entity_name="customer", target_entity_name="demographics", columns=demographics_columns,
                   distinct_values=True, retain_columns=['customer_id'])

#create senior citizen table
norm.create_entity(source_entity_name="demographics", target_entity_name="senior_citizen_type", columns=['SeniorCitizen'],
                   distinct_values=True)

#create dependents table
norm.create_entity(source_entity_name="demographics", target_entity_name="dependents", columns=['Dependents'],
                   distinct_values=True)

In [15]:
norm.create_entity(source_entity_name="customer", target_entity_name="service", columns=service_columns,
                   distinct_values=True, retain_columns=['customer_id'])

#create PhoneService table
norm.create_entity(source_entity_name="service", target_entity_name="phone_service_type", columns=['PhoneService'],
                   distinct_values=True)

#create MultipleLines table
norm.create_entity(source_entity_name="service", target_entity_name="multiple_lines_type", columns=['MultipleLines'],
                   distinct_values=True)
#create StreamingMovies table
norm.create_entity(source_entity_name="service", target_entity_name="streaming_movies_type", columns=['StreamingMovies'],
                   distinct_values=True)

In [16]:
norm.remove_entity("original_table")

In [17]:
print(norm.primary_keys)
print("\n")
print(norm.relations)
print("\n")
print(norm.entity_set.keys())

{'customer': 'customer_id', 'contract_type': 'contract_type_id', 'payment_method_type': 'payment_method_type_id', 'demographics': 'demographics_id', 'senior_citizen_type': 'senior_citizen_type_id', 'dependents': 'dependents_id', 'service': 'service_id', 'phone_service_type': 'phone_service_type_id', 'multiple_lines_type': 'multiple_lines_type_id', 'streaming_movies_type': 'streaming_movies_type_id'}


{'customer': {}, 'contract_type': {'customer': ('contract_type_id', 'contract_type_id')}, 'payment_method_type': {'customer': ('payment_method_type_id', 'payment_method_type_id')}, 'demographics': {'customer': ('demographics_id', 'demographics_id')}, 'senior_citizen_type': {'demographics': ('senior_citizen_type_id', 'senior_citizen_type_id')}, 'dependents': {'demographics': ('dependents_id', 'dependents_id')}, 'service': {'customer': ('service_id', 'service_id')}, 'phone_service_type': {'service': ('phone_service_type_id', 'phone_service_type_id')}, 'multiple_lines_type': {'service': ('multiple_lines_type_id', 'multiple_lines_type_id')}, 'streaming_movies_type': {'service': ('streaming_movies_type_id', 'streaming_movies_type_id')}}


dict_keys(['customer', 'contract_type', 'payment_method_type', 'demographics', 'senior_citizen_type', 'dependents', 'service', 'phone_service_type', 'multiple_lines_type', 'streaming_movies_type'])

In [18]:
for entity in norm.entity_set.keys():
    print(
        f"ALTER TABLE {entity} ADD CONSTRAINT PK_{entity} PRIMARY KEY ({norm.primary_keys[entity]});")

for parent_table in norm.relations:
    for child_table in norm.relations[parent_table]:
        print(f"ALTER TABLE {child_table} ADD CONSTRAINT FK_{child_table}_{parent_table} "
              f"FOREIGN KEY ({norm.relations[parent_table][child_table][1]}) "
              f"REFERENCES {parent_table}({norm.relations[parent_table][child_table][0]}));")

ALTER TABLE customer ADD CONSTRAINT PK_customer PRIMARY KEY (customer_id);
ALTER TABLE contract_type ADD CONSTRAINT PK_contract_type PRIMARY KEY (contract_type_id);
ALTER TABLE payment_method_type ADD CONSTRAINT PK_payment_method_type PRIMARY KEY (payment_method_type_id);
ALTER TABLE demographics ADD CONSTRAINT PK_demographics PRIMARY KEY (demographics_id);
ALTER TABLE senior_citizen_type ADD CONSTRAINT PK_senior_citizen_type PRIMARY KEY (senior_citizen_type_id);
ALTER TABLE dependents ADD CONSTRAINT PK_dependents PRIMARY KEY (dependents_id);
ALTER TABLE service ADD CONSTRAINT PK_service PRIMARY KEY (service_id);
ALTER TABLE phone_service_type ADD CONSTRAINT PK_phone_service_type PRIMARY KEY (phone_service_type_id);
ALTER TABLE multiple_lines_type ADD CONSTRAINT PK_multiple_lines_type PRIMARY KEY (multiple_lines_type_id);
ALTER TABLE streaming_movies_type ADD CONSTRAINT PK_streaming_movies_type PRIMARY KEY (streaming_movies_type_id);
ALTER TABLE customer ADD CONSTRAINT FK_customer_contract_type FOREIGN KEY (contract_type_id) REFERENCES contract_type(contract_type_id));
ALTER TABLE customer ADD CONSTRAINT FK_customer_payment_method_type FOREIGN KEY (payment_method_type_id) REFERENCES payment_method_type(payment_method_type_id));
ALTER TABLE customer ADD CONSTRAINT FK_customer_demographics FOREIGN KEY (demographics_id) REFERENCES demographics(demographics_id));
ALTER TABLE demographics ADD CONSTRAINT FK_demographics_senior_citizen_type FOREIGN KEY (senior_citizen_type_id) REFERENCES senior_citizen_type(senior_citizen_type_id));
ALTER TABLE demographics ADD CONSTRAINT FK_demographics_dependents FOREIGN KEY (dependents_id) REFERENCES dependents(dependents_id));
ALTER TABLE customer ADD CONSTRAINT FK_customer_service FOREIGN KEY (service_id) REFERENCES service(service_id));
ALTER TABLE service ADD CONSTRAINT FK_service_phone_service_type FOREIGN KEY (phone_service_type_id) REFERENCES phone_service_type(phone_service_type_id));
ALTER TABLE service ADD CONSTRAINT FK_service_multiple_lines_type FOREIGN KEY (multiple_lines_type_id) REFERENCES multiple_lines_type(multiple_lines_type_id));
ALTER TABLE service ADD CONSTRAINT FK_service_streaming_movies_type FOREIGN KEY (streaming_movies_type_id) REFERENCES streaming_movies_type(streaming_movies_type_id));

In [19]:
norm.persist_entity_set(database_name="telco_churn_exp2")

2023-10-03 17:07:10,189 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2023-10-03 17:07:10,189 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-03 17:07:10,191 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-10-03 17:07:10,191 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ()
2023-10-03 17:07:10,193 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-10-03 17:07:10,193 INFO sqlalchemy.engine.Engine [generated in 0.00045s] ()
2023-10-03 17:07:10,194 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2023-10-03 17:07:10,195 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ()
2023-10-03 17:07:10,196 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-03 17:07:10,196 INFO sqlalchemy.engine.Engine IF (SCHEMA_ID('telco_churn_exp2') IS NOT NULL) BEGIN DROP SCHEMA [telco_churn_exp2]; END
2023-10-03 17:07:10,197 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ()
2023-10-03 17:07:10,200 INFO sqlalchemy.engine.Engine CREATE SCHEMA [telco_churn_exp2] AUTHORIZATION [dbo]
2023-10-03 17:07:10,201 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ()
2023-10-03 17:07:10,210 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2023-10-03 17:07:10,210 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('BASE TABLE', 'VIEW', 'customer', 'telco_churn_exp2')
2023-10-03 17:07:10,213 INFO sqlalchemy.engine.Engine
CREATE TABLE telco_churn_exp2.customer (
	tenure BIGINT NULL,
	[PaperlessBilling] VARCHAR(max) NULL,
	[MonthlyCharges] FLOAT(53) NULL,
	[TotalCharges] VARCHAR(max) NULL,
	[Churn] VARCHAR(max) NULL,
	customer_id BIGINT NULL,
	contract_type_id BIGINT NULL,
	payment_method_type_id BIGINT NULL,
	demographics_id BIGINT NULL,
	service_id BIGINT NULL
)


2023-10-03 17:07:10,213 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2023-10-03 17:07:10,253 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,254 INFO sqlalchemy.engine.Engine [generated in 0.02412s (insertmanyvalues) 1/34 (unordered)] (1, 'Yes', 29.85, '29.85', 'No', 0, 0, 0, 0, 0, 34, 'No', 56.95, '1889.5', 'No', 1, 1, 1, 1, 1, 2, 'Yes', 53.85, '108.15', 'Yes', 2, 0, 1, 1, 2, 45, 'No', 42.3, '1840.75', 'No', 3, 1, 2, 1, 3, 2, 'Yes', 70.7, '151.65', 'Yes', 4, 0, 0, 2, 4 ... 1990 parameters truncated ... 44, 'No', 68.85, '2958.95', 'No', 204, 0, 3, 1, 4, 33, 'Yes', 79.95, '2684.85', 'No', 205, 1, 2, 2, 99, 72, 'Yes', 55.45, '4179.2', 'No', 206, 2, 3, 4, 100, 1, 'No', 79.9, '79.9', 'Yes', 207, 0, 0, 1, 88, 19, 'Yes', 106.6, '1934.45', 'Yes', 208, 0, 0, 2, 12)
2023-10-03 17:07:10,321 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,322 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/34 (unordered)] (64, 'Yes', 102.45, '6654.1', 'No', 209, 1, 3, 5, 56, 2, 'Yes', 46.0, '84.5', 'Yes', 210, 0, 3, 1, 26, 1, 'No', 25.25, '25.25', 'No', 211, 0, 0, 2, 67, 61, 'No', 19.75, '1124.2', 'No', 212, 2, 1, 3, 10, 29, 'No', 20.0, '540.05', 'No', 213, 1, 0, 6, 10 ... 1990 parameters truncated ... 51, 'Yes', 87.35, '4473', 'No', 413, 0, 0, 1, 158, 48, 'Yes', 70.65, '3545.05', 'No', 414, 0, 2, 9, 4, 16, 'No', 73.25, '1195.75', 'No', 415, 0, 2, 6, 116, 70, 'Yes', 98.7, '6858.9', 'No', 416, 2, 2, 5, 152, 40, 'Yes', 24.8, '1024.7', 'No', 417, 2, 1, 6, 44)
2023-10-03 17:07:10,327 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,328 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/34 (unordered)] (22, 'No', 83.3, '1845.9', 'Yes', 418, 0, 0, 6, 159, 1, 'Yes', 75.3, '75.3', 'Yes', 419, 0, 2, 11, 28, 5, 'Yes', 24.3, '132.25', 'No', 420, 0, 1, 6, 44, 7, 'Yes', 69.85, '515.45', 'No', 421, 0, 2, 2, 4, 29, 'No', 100.55, '2830.45', 'No', 422, 1, 3, 3, 152 ... 1990 parameters truncated ... 20, 'No', 19.7, '406.95', 'No', 622, 2, 1, 2, 10, 7, 'No', 20.0, '137.6', 'Yes', 623, 0, 2, 2, 10, 25, 'Yes', 95.15, '2395.7', 'No', 624, 0, 0, 0, 125, 23, 'No', 84.25, '1968.1', 'No', 625, 0, 0, 5, 146, 66, 'No', 104.6, '6819.45', 'No', 626, 1, 3, 9, 11)
2023-10-03 17:07:10,334 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,334 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/34 (unordered)] (72, 'No', 111.65, '7943.45', 'No', 627, 2, 0, 11, 43, 49, 'No', 90.05, '4547.25', 'Yes', 628, 0, 3, 10, 122, 43, 'Yes', 110.75, '4687.9', 'Yes', 629, 0, 2, 13, 43, 46, 'No', 55.0, '2473.95', 'No', 630, 0, 2, 0, 129, 72, 'No', 89.85, '6562.9', 'No', 631, 2, 3, 4, 21 ... 1990 parameters truncated ... 37, 'Yes', 88.8, '3340.55', 'No', 831, 0, 0, 6, 6, 4, 'Yes', 78.85, '292.8', 'Yes', 832, 0, 0, 11, 34, 60, 'Yes', 93.25, '5774.55', 'No', 833, 0, 0, 13, 189, 62, 'No', 71.4, '4487.3', 'No', 834, 1, 3, 4, 164, 1, 'No', 44.4, '44.4', 'Yes', 835, 0, 1, 1, 26)
2023-10-03 17:07:10,342 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,342 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/34 (unordered)] (36, 'Yes', 79.2, '2854.95', 'No', 836, 0, 3, 1, 104, 44, 'No', 20.4, '905.55', 'No', 837, 2, 3, 1, 10, 55, 'Yes', 100.0, '5509.3', 'Yes', 838, 1, 0, 11, 5, 72, 'Yes', 105.0, '7589.8', 'No', 839, 2, 3, 0, 14, 12, 'No', 19.8, '229.6', 'Yes', 840, 1, 2, 6, 10 ... 1990 parameters truncated ... 8, 'No', 54.25, '447.75', 'No', 1040, 1, 2, 2, 156, 43, 'Yes', 99.3, '4209.95', 'No', 1041, 0, 2, 6, 5, 52, 'No', 74.0, '3877.65', 'No', 1042, 1, 3, 2, 242, 3, 'Yes', 50.25, '152.3', 'No', 1043, 0, 1, 1, 49, 29, 'Yes', 19.8, '572.2', 'No', 1044, 1, 1, 1, 10)
2023-10-03 17:07:10,353 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/34 (unordered)] (1, 'No', 19.65, '19.65', 'Yes', 1045, 0, 1, 2, 10, 12, 'Yes', 43.65, '526.95', 'Yes', 1046, 0, 0, 7, 243, 16, 'Yes', 35.5, '552.7', 'No', 1047, 0, 3, 6, 80, 40, 'Yes', 80.75, '3208.65', 'No', 1048, 1, 1, 2, 244, 5, 'No', 39.5, '210.75', 'Yes', 1049, 0, 0, 2, 17 ... 1990 parameters truncated ... 55, 'No', 88.8, '4805.3', 'No', 1249, 2, 3, 9, 216, 2, 'Yes', 30.9, '59.05', 'Yes', 1250, 0, 0, 2, 95, 72, 'Yes', 85.9, '6110.75', 'No', 1251, 2, 3, 6, 61, 45, 'No', 34.2, '1596.6', 'No', 1252, 1, 0, 11, 80, 47, 'No', 20.15, '1046.2', 'No', 1253, 2, 1, 2, 10)
2023-10-03 17:07:10,379 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,381 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/34 (unordered)] (46, 'No', 95.25, '4424.2', 'Yes', 1254, 1, 3, 11, 111, 2, 'Yes', 50.3, '92.75', 'No', 1255, 0, 1, 1, 29, 2, 'Yes', 80.15, '194.55', 'No', 1256, 0, 0, 0, 259, 12, 'Yes', 51.25, '612.1', 'No', 1257, 0, 0, 0, 29, 68, 'Yes', 89.6, '6127.6', 'Yes', 1258, 0, 2, 9, 122 ... 1990 parameters truncated ... 1, 'No', 74.6, '74.6', 'No', 1458, 0, 3, 4, 116, 12, 'Yes', 49.2, '571.15', 'No', 1459, 0, 0, 4, 9, 23, 'Yes', 73.75, '1756.6', 'No', 1460, 1, 1, 2, 241, 62, 'Yes', 92.3, '5731.45', 'No', 1461, 1, 2, 1, 189, 37, 'No', 98.8, '3475.55', 'Yes', 1462, 0, 2, 1, 226)
2023-10-03 17:07:10,404 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,407 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/34 (unordered)] (8, 'No', 19.2, '156.85', 'No', 1463, 0, 1, 2, 10, 31, 'No', 88.65, '2683.2', 'No', 1464, 0, 3, 5, 179, 13, 'Yes', 74.4, '896.75', 'Yes', 1465, 0, 3, 4, 72, 24, 'Yes', 98.75, '2407.3', 'Yes', 1466, 0, 0, 2, 5, 45, 'Yes', 95.95, '4456.65', 'No', 1467, 0, 2, 4, 173 ... 1990 parameters truncated ... 29, 'Yes', 78.9, '2384.15', 'Yes', 1667, 0, 0, 2, 34, 4, 'Yes', 80.15, '319.85', 'No', 1668, 0, 0, 2, 62, 6, 'No', 25.4, '153.3', 'No', 1669, 2, 1, 4, 44, 67, 'Yes', 105.4, '7035.6', 'No', 1670, 1, 3, 9, 219, 7, 'Yes', 45.75, '344.2', 'No', 1671, 0, 1, 14, 26)
2023-10-03 17:07:10,431 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,433 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/34 (unordered)] (56, 'Yes', 24.45, '1431.65', 'No', 1672, 1, 1, 4, 44, 72, 'No', 25.0, '1849.2', 'No', 1673, 2, 3, 0, 44, 72, 'Yes', 85.25, '6083.1', 'No', 1674, 2, 0, 5, 191, 23, 'No', 19.6, '426.65', 'No', 1675, 2, 3, 4, 10, 35, 'No', 50.15, '1655.35', 'No', 1676, 0, 1, 8, 160 ... 1990 parameters truncated ... 24, 'Yes', 70.3, '1706.45', 'No', 1876, 0, 3, 4, 271, 67, 'Yes', 60.4, '3953.7', 'No', 1877, 2, 2, 4, 70, 16, 'No', 72.65, '1194.3', 'Yes', 1878, 0, 0, 2, 72, 23, 'No', 55.8, '1327.85', 'No', 1879, 1, 2, 2, 114, 14, 'Yes', 31.1, '419.7', 'No', 1880, 0, 1, 1, 0)
2023-10-03 17:07:10,456 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,457 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/34 (unordered)] (1, 'Yes', 21.0, '21', 'Yes', 1881, 0, 0, 6, 10, 1, 'No', 45.1, '45.1', 'Yes', 1882, 0, 1, 11, 26, 4, 'Yes', 50.95, '207.35', 'No', 1883, 0, 3, 7, 205, 16, 'Yes', 69.1, '1083.7', 'No', 1884, 0, 0, 3, 203, 46, 'Yes', 43.95, '2007.85', 'No', 1885, 0, 0, 0, 145 ... 1990 parameters truncated ... 1, 'Yes', 79.95, '79.95', 'Yes', 2085, 0, 0, 1, 34, 1, 'No', 19.3, '19.3', 'Yes', 2086, 0, 0, 2, 10, 9, 'Yes', 94.05, '811.65', 'No', 2087, 0, 0, 1, 24, 2, 'No', 90.75, '174.75', 'No', 2088, 0, 1, 1, 297, 40, 'Yes', 78.85, '3126.85', 'No', 2089, 0, 3, 0, 174)
2023-10-03 17:07:10,481 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,482 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/34 (unordered)] (69, 'No', 99.5, '6841.45', 'No', 2090, 1, 2, 5, 5, 37, 'Yes', 99.2, '3754.6', 'Yes', 2091, 1, 0, 0, 247, 18, 'Yes', 80.55, '1406.65', 'No', 2092, 0, 3, 3, 77, 11, 'Yes', 70.2, '834.7', 'No', 2093, 0, 0, 10, 4, 8, 'Yes', 85.2, '627.4', 'Yes', 2094, 0, 3, 0, 33 ... 1990 parameters truncated ... 67, 'Yes', 100.9, '6733.15', 'No', 2294, 1, 3, 5, 37, 34, 'Yes', 97.7, '3410', 'No', 2295, 0, 2, 4, 20, 3, 'Yes', 69.85, '199.85', 'No', 2296, 0, 0, 2, 4, 9, 'Yes', 65.6, '593.3', 'No', 2297, 1, 1, 6, 227, 71, 'Yes', 104.65, '7288.4', 'No', 2298, 1, 2, 4, 236)
2023-10-03 17:07:10,506 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,508 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/34 (unordered)] (57, 'Yes', 90.45, '5229.8', 'No', 2299, 2, 3, 1, 139, 72, 'Yes', 63.7, '4464.8', 'No', 2300, 2, 2, 1, 154, 48, 'Yes', 104.5, '5068.05', 'No', 2301, 0, 0, 12, 12, 18, 'No', 20.1, '401.85', 'No', 2302, 1, 1, 1, 10, 43, 'Yes', 104.3, '4451.85', 'No', 2303, 1, 3, 4, 8 ... 1990 parameters truncated ... 52, 'No', 19.2, '1054.75', 'No', 2503, 2, 1, 4, 10, 25, 'Yes', 89.7, '2187.55', 'Yes', 2504, 0, 0, 11, 122, 64, 'Yes', 115.1, '7334.05', 'No', 2505, 2, 2, 2, 13, 16, 'Yes', 96.4, '1581.2', 'Yes', 2506, 0, 0, 11, 41, 1, 'Yes', 69.5, '69.5', 'Yes', 2507, 0, 2, 7, 4)
2023-10-03 17:07:10,531 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,532 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/34 (unordered)] (24, 'Yes', 99.65, '2404.85', 'No', 2508, 0, 2, 1, 20, 2, 'Yes', 91.45, '171.45', 'No', 2509, 0, 0, 5, 179, 34, 'No', 84.75, '2839.45', 'No', 2510, 2, 1, 6, 87, 36, 'Yes', 85.25, '3132.75', 'Yes', 2511, 0, 3, 10, 33, 53, 'Yes', 78.75, '3942.45', 'No', 2512, 1, 1, 4, 244 ... 1990 parameters truncated ... 21, 'No', 20.5, '402.85', 'No', 2712, 0, 3, 1, 10, 62, 'No', 19.95, '1244.8', 'No', 2713, 1, 2, 4, 10, 2, 'No', 24.5, '46.4', 'No', 2714, 0, 0, 2, 67, 27, 'No', 20.6, '581.85', 'No', 2715, 2, 1, 3, 10, 5, 'Yes', 94.85, '462.8', 'Yes', 2716, 0, 2, 1, 41)
2023-10-03 17:07:10,553 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,554 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/34 (unordered)] (25, 'No', 61.05, '1540.2', 'No', 2717, 1, 0, 2, 79, 2, 'Yes', 85.7, '169.8', 'Yes', 2718, 0, 0, 2, 33, 49, 'Yes', 106.65, '5168.1', 'No', 2719, 1, 2, 1, 126, 63, 'No', 108.25, '6780.1', 'No', 2720, 0, 3, 2, 52, 4, 'No', 20.4, '94.5', 'No', 2721, 0, 3, 8, 10 ... 1990 parameters truncated ... 68, 'Yes', 24.0, '1664.3', 'No', 2921, 2, 2, 4, 44, 12, 'No', 19.4, '198.1', 'No', 2922, 0, 2, 6, 10, 71, 'Yes', 86.1, '6045.9', 'No', 2923, 2, 2, 5, 87, 40, 'Yes', 102.65, '4108.15', 'No', 2924, 0, 1, 1, 11, 64, 'Yes', 92.85, '5980.75', 'No', 2925, 1, 0, 6, 173)
2023-10-03 17:07:10,565 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,566 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/34 (unordered)] (53, 'No', 97.75, '5043.2', 'No', 2926, 1, 2, 5, 246, 12, 'Yes', 83.8, '1029.75', 'Yes', 2927, 0, 1, 7, 131, 53, 'Yes', 54.45, '2854.55', 'Yes', 2928, 0, 0, 7, 280, 72, 'Yes', 97.95, '7114.25', 'No', 2929, 2, 3, 5, 182, 46, 'No', 19.95, '907.05', 'No', 2930, 2, 0, 1, 10 ... 1990 parameters truncated ... 1, 'No', 19.8, '19.8', 'Yes', 3130, 0, 1, 1, 10, 13, 'Yes', 72.8, '930.05', 'No', 3131, 0, 0, 4, 252, 6, 'No', 18.95, '110.15', 'No', 3132, 0, 1, 1, 10, 4, 'Yes', 76.65, '333.6', 'Yes', 3133, 0, 2, 2, 116, 5, 'Yes', 99.15, '465.05', 'Yes', 3134, 0, 1, 6, 148)
2023-10-03 17:07:10,580 INFO sqlalchemy.engine.Engine INSERT INTO telco_churn_exp2.customer (tenure, [PaperlessBilling], [MonthlyCharges], [TotalCharges], [Churn], customer_id, contract_type_id, payment_method_type_id, demographics_id, service_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ? ... 6537 characters truncated ... , ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-03 17:07:10,586 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/34 (unordered)] (15, 'No', 101.75, '1669.4', 'No', 3135, 0, 0, 0, 267, 47, 'No', 75.45, '3545.1', 'No', 3136, 0, 3, 2, 81, 8, 'No', 64.1, '504.05', 'No', 3137, 0, 1, 2, 188, 17, 'Yes', 25.65, '440.2', 'No', 3138, 0, 1, 1, 67, 15, 'No', 75.1, '1151.55', 'No', 3139, 0, 1, 4, 81 ... 1990 parameters truncated ... 12, 'Yes', 85.05, '999.8', 'No', 3339, 0, 3, 5, 159, 54, 'No', 44.1, '2369.7', 'No', 3340, 1, 2, 2, 265, 68, 'No', 90.2, '6297.65', 'No', 3341, 2, 3, 0, 158, 4, 'No', 50.85, '239.55', 'Yes', 3342, 0, 1, 6, 160, 1, 'No', 59.2, '59.2', 'Yes', 3343, 0, 0, 8, 240)